<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hasil Pencarian Label</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <a href="/" class="kembali">Kembali</a>
    <h1>Pencarian Label</h1>
    <form method="POST">
        <input type="text" name="label" placeholder="Search" required>
        <div class="btn-index2">
            <button type="submit">Cari</button>
        </div>
    </form>

    {% if query %}
        <h2>Query: {{ query }}</h2>
    {% endif %}

    {% if results %}
        <h2>Hasil Pencarian:</h2>
        <div style="display: flex; flex-wrap: wrap; justify-content: center;">
            {% for img, matched_labels, match_scores in results %}
                <div style="margin: 10px; text-align: center;">
                    <img src="{{ img }}" alt="Hasil Gambar" class="hasil-gambar" loading="lazy">
                    <p>Labels: {{ matched_labels | join(', ') }}</p>
                    <p>match score: {{ match_scores }}</p>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</body>
</html>
